.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #091226, #040814 75%);
}

.auth-box {
  width: 350px;
  padding: 2rem;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  text-align: center;
}

.auth-box h2 {
  color: #fff;
  margin-bottom: 1.5rem;
}

.auth-box input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.12);
  color: #fff;
  font-size: 1rem;
}

.auth-box button {
  width: 100%;
  padding: 0.9rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90deg, #0078ff, #00aaff);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5rem;
}

.switch-text {
  margin-top: 0.8rem;
  color: #d1d9ff;
}

.switch-text span {
  color: #00aaff;
  cursor: pointer;
}
